@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%) no-repeat fixed;

}

main {
  width: 87vw;
  background-color: #fff;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  margin: 148px auto 85px;
  padding-bottom: 48px;
}

img {
  display: block;
  width: 240px;
  margin: -108px auto 28px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1E1F36;
  text-align: center;
}

.container {
  margin: 12px auto 0;
}

details {
  width: 85%;
  list-style: none;
  border-bottom: 1px solid #E8E8EA;
  margin: 0 auto;
}

summary {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary h2 {
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
}

summary ion-icon {
  font-size: 16px;
  color: #f47b56;
}

details[open] summary {
  margin-top: 5px;
  height: 40px;
}
details[open] h2 {
  font-weight: 700;
  color: #1E1F36;
}

details[open] ion-icon {
  rotate: 180deg;
}

p {
  width: 90%;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-bottom: 16px;
}

@media (min-width: 920px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 920px;
    height: 509px;
    background-color: #fff;
    margin: 0;

    display: flex;
    align-items:center;
    justify-content: space-between;
  }

  img {
    display: block;
    width: 700px;
    max-width: unset;
    margin: 100px 0 -210px -295px;
  }

  h1 {
    text-align: left;
  }

  .container {
    width: 450px;
    margin: 0;
  }

  details {
    margin: 0;
  }

  summary h2 {
    font-size: 14px;
    line-height: 17px;
  }

}